<style>
    .stars-outer {
        position: relative;
        display: inline-block;
    }

    .stars-inner {
        position: absolute;
        top: 0;
        left: 0;
        white-space: nowrap;
        overflow: hidden;
        width: 0;
    }

    .stars-outer::before {
        content: "\f005 \f005 \f005 \f005 \f005";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #ccc;
    }

    .stars-inner::before {
        content: "\f005 \f005 \f005 \f005 \f005";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #f8ce0b;
    }
</style>

{{#section 'css'}}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/v4-shims.css">
{{/section}}
{{#section 'js'}}
<script>
    // Initial Ratings
    const ratings = {
        ad2: 3,
        ad3: 1.4,
        ad4: 1.4,
        ad5: 1.4,
        ad6: 1.4,
        ad7: 1.4,
        ad8: 1.4,
        ad12: 1.4,
        ad13: 1.4,
        ad14: 1.4,
        ad15: 1.4,
        ad16: 1.4
    }
    // Total Stars
    const starsTotal = 5;

    // Run getRatings when DOM loads
    document.addEventListener('DOMContentLoaded', getRatings);

    // Form Elements
    const productSelect = document.getElementById('product-select');
    const ratingControl = document.getElementById('rating-control');

    // Init product
    let product;

    // Product select change
    productSelect.addEventListener('change', (e) => {
        product = e.target.value;
        // Enable rating control
        ratingControl.disabled = false;
        ratingControl.value = ratings[product];
    });

    // Rating control change
    ratingControl.addEventListener('blur', (e) => {
        const rating = e.target.value;

        // Make sure 5 or under
        if (rating > 5) {
            alert('Please rate 1 - 5');
            return;
        }

        // Change rating
        ratings[product] = rating;

        getRatings();
    });

    // Get ratings
    function getRatings() {
        for (let rating in ratings) {
            // Get percentage
            const starPercentage = (ratings[rating] / starsTotal) * 100;

            // Round to nearest 10
            const starPercentageRounded = `${Math.round(starPercentage / 10) * 10}%`;

            // Set width of stars-inner to percentage
            document.querySelector(`.${rating} .stars-inner`).style.width = starPercentageRounded;

            // Add number rating
            document.querySelector(`.${rating} .number-rating`).innerHTML = ratings[rating];
        }
    }
</script>
{{/section}}
<!--====== PAGE BANNER PART START ======-->

<section id="page-banner" class="pt-30 pb-110 bg_cover" data-overlay="8"
    style="background-image: url(/public/images/page-banner-2.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>Khóa học</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                            {{#if this.emptyC}}
                            <li class="breadcrumb-item active" aria-current="page">Khóa học</li>
                            {{/if}}
                            {{#if this.notempty}}
                            {{#each this.category}}
                            <li class="breadcrumb-item" aria-current="page"><a href="/courses">Khóa học</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{name_level1}}</li>
                            {{/each}}
                            {{/if}}
                            {{#if this.notempty2}}
                            {{#each this.category}}
                            <li class="breadcrumb-item" aria-current="page"><a href="/courses">Khóa học</a></li>
                            <li class="breadcrumb-item" aria-current="page"><a
                                    href="/courses/aspect/{{ID_aspect1}}">{{name_level1}}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{name_level2}}</li>
                            {{/each}}
                            {{/if}}
                            {{!-- <li class="breadcrumb-item active" aria-current="page">Courses</li> --}}
                        </ol>
                    </nav>
                </div> <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== PAGE BANNER PART ENDS ======-->

<!--====== COURSES PART START ======-->

<section id="courses-part" class="pt-50 pb-120 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="courses-top-search">
                    <ul class="filter">
                        <div class="dropdown" style="width: 500px;">
                            <span>Bộ lộc</span>
                            <div class="dropdown-content">
                                <li><a href="/courses?filter=1">Giá giảm dần</a></li>
                                <li><a href="/courses?filter=2">Giá tăng dần</a></li>
                                <li><a href="/courses?filter=3">Điểm đánh giá giảm dần</a></li>
                                <li><a href="/courses?filter=4">Điểm đánh giá tăng dần</a></li>
                            </div>
                        </div>
                    </ul>
                    <ul class="nav float-left" id="myTab" role="tablist">

                    </ul> <!-- nav -->

                    {{!-- <div class="courses-search float-right">
                        <form action="#">
                            <input type="text" placeholder="Search">
                            <button type="button"><i class="fa fa-search"></i></button>
                        </form>
                    </div> <!-- courses search --> --}}
                </div> <!-- courses top search -->
            </div>
        </div> <!-- row -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="courses-grid" role="tabpanel" aria-labelledby="courses-grid-tab">
                <div class="row">
                    {{#each this.courses}}
                    <div class="col-lg-4 col-md-6">
                        <div class="singel-course mt-30">
                            <div class="thum">
                                <div class="image">
                                    <img src="/public/images/course/{{small_image}}" alt="Course">
                                </div>
                                {{#if discount}}
                                <div class="price1">
                                    <span style="background-color: white;"><strike>{{fee}}$</strike></span>
                                </div>
                                <div class="discount">
                                    <span>{{discount}}$</span>
                                </div>
                                {{else}}
                                <div class="price">
                                    <span>{{fee}}$</span>

                                </div>
                                {{/if}}


                            </div>
                            <div class="cont" style="padding:15px 20px">
                                <ul>
                                    {{!-- <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li> --}}
                                  
                                    <li class=" ad{{CourseID}}">
                                    
                                        
                                            <div class="stars-outer">
                                                <div class="stars-inner"></div>
                                            </div>
                                        
                                        
                                    </li>
                                    <span>{{evalue}}({{num_evalue}} Reviews)</span>
                                </ul>
                                <a href="/courses/details?id={{CourseID}}">
                                    <h4>{{title}}</h4>
                                </a>
                                <a href="" class="disabled">
                                    <h6>{{name_level1}}</h6>
                                </a>
                                <div class="course-teacher" style="height:60px;padding:0px;padding-top:5px">
                                    <div class="thum">
                                        <a href="#"><img src="/public/images/course/teacher/{{image}}" alt="teacher"
                                                style="width: 40px;height:40px"></a>
                                    </div>
                                    <div class="name" style="padding-bottom: 5px;">
                                        <a href="#" class="disabled">
                                            <h6>{{f_Fullname}}</h6>
                                        </a>
                                    </div>
                                    <div class="admin">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-user"></i><span>{{num_join}}</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- singel course -->
                    </div>
                    {{/each}}
                </div>


            </div> <!-- tab content -->
            <div class="row">
                <div class="col-lg-12">
                    <nav class="courses-pagination mt-50">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a href="?page={{previous}}" aria-label="Previous" {{#if this.not_previous}}
                                    class="disabled" {{/if}}>
                                    <i class="fa fa-angle-left"></i>
                                </a>

                            </li>
                            {{#unless this.maxThan3}}
                            {{#each page_items}}
                            <li class="page-item" "><a href=" ?page={{value}}" id="page_{{value}}">{{value}}</a></li>
                            {{/each}}
                            {{/unless}}
                            {{#if this.maxThan3}}

                            {{#if this.n3}}
                            <li class="page-item"><a href="#" class="disabled">...</a></li>
                            <li class="page-item"><a class="active" href="?page={{page}}">{{page}}</a></li>
                            <li class="page-item"><a href="?page={{next}}">{{next}}</a></li>
                            <li class="page-item"><a href="?page={{next2}}">{{next2}}</a></li>
                            {{/if}}

                            {{#if this.n2}}
                            <li class="page-item"><a href="#" class="disabled">...</a></li>
                            <li class="page-item"><a class="active" href="?page={{page}}">{{page}}</a></li>
                            <li class="page-item"><a href="?page={{next}}">{{next}}</a></li>
                            {{/if}}
                            {{#if this.n1}}
                            <li class="page-item"><a href="#" class="disabled">...</a></li>
                            <li class="page-item"><a href="?page={{previous}}">{{previous}}</a></li>
                            <li class="page-item"><a href="?page={{page}}" class="active">{{page}}</a></li>
                            {{/if}}

                            {{#unless this.n1}}
                            {{#unless this.n2}}
                            {{#unless this.n3}}
                            <li class="page-item"><a href="?page={{page}}" class="active">{{page}}</a></li>
                            <li class="page-item"><a href="?page={{next}}">{{next}}</a></li>
                            <li class="page-item"><a href="?page={{next2}}">{{next2}}</a></li>
                            <li class="page-item"><a href="#" class="disabled">...</a></li>
                            {{/unless}}
                            {{/unless}}
                            {{/unless}}
                            {{/if}}
                            <li class="page-item">
                                <a href="?page={{next}}" aria-label="Next" {{#if this.not_next}} class="disabled"
                                    {{/if}}>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav> <!-- courses pagination -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
</section>

<!--====== COURSES PART ENDS ======-->