{{#section 'css'}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{{/section}}
{{#section 'js'}}
<script>
    document.getElementById("stars1").innerHTML = getStars(4);
    function getStars(rating) {
        // Round to nearest half
        rating = Math.round(rating * 2) / 2;
        let output = [];

        // Append all the filled whole stars
        for (var i = rating; i >= 1; i--)
            output.push('<i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>&nbsp;');

        // If there is a half a star, append it
        if (i == .5) output.push('<i class="fa fa-star-half-o" aria-hidden="true" style="color: gold;"></i>&nbsp;');

        // Fill the empty stars
        for (let i = (5 - rating); i >= 1; i--)
            output.push('<i class="fa fa-star-o" aria-hidden="true" style="color: gold;"></i>&nbsp;');

        return output.join('');

    }
</script>
{{#each this.courses}}
<script>
    var star = "stars" + {{ CourseID }};
    document.getElementById(star).innerHTML = getStars({{ evalue }});
</script>
{{/each}}
{{/section}}
 <!--====== COURSES PART START ======-->
    
    <section id="courses-part" class="pt-50 pb-120 gray-bg">
        <div class="container">
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="courses-grid" role="tabpanel" aria-labelledby="courses-grid-tab">
                    <div class="row">
                        <div class="col-lg-12">
                        <div class="courses-top-search">
                    <ul class="filter">
                        <div class="dropdown" style="width: 500px;">
                            <span>Bộ lộc</span>
                            <div class="dropdown-content">
                                <li><a href="?search={{search}}&filter=1">Giá giảm dần</a></li>
                                <li><a href="?search={{search}}&filter=2">Giá tăng dần</a></li>
                                <li><a href="?search={{search}}&filter=3">Điểm đánh giá giảm dần</a></li>
                                <li><a href="?search={{search}}&filter=4">Điểm đánh giá tăng dần</a></li>
                            </div>
                        </div>
                    </ul>
                    <ul class="nav float-left" id="myTab" role="tablist">

                    </ul> <!-- nav -->
                </div> <!-- courses top search -->
                </div>
                        {{#each this.courses}}
                            <div class="col-lg-4 col-md-6">
                            <div class="singel-course mt-30">
                                <div class="thum">
                                    <div class="image">
                                        <img src="/public/images/course/{{small_image}}" alt="Course" style="width: 369px;height:251px">
                                    </div>
                                    {{#if isBestSeller}}
                                    <div class="price" style="top:0px;left:-5px">
                                        <div class="np" ></div>
                                        </div>
                                    {{/if}}
                                    {{#if isNew}}
                                        <div class="price" style="top:-15px;right:-5px">
                                        <span>New</span>
                                        </div>
                                    {{/if}}
                                    {{#if discount}}
                                    <div  class="price1" >
                                        <span style="background-color: white;"><strike >{{fee}}$</strike></span>    
                                    </div>
                                    <div class="discount">
                                        <span>{{discount}}$</span>
                                    </div>
                                        {{else}}
                                        <div class="price">
                                        <span>{{fee}}$</span>
                                        
                                    </div>
                                    {{/if}}
                                    
                                    {{!-- <div class="price">
                                        <span><strike>5.7$</strike></span>
                                        
                                    </div> --}}
                                     
                                   
                                    
                                    
                                </div>
                                <div class="cont">
                                    <ul>
                                    <span id="stars{{CourseID}}"></span>

                                    <span>{{evalue}}({{num_evalue}} Reviews)</span>
                                </ul>
                                   
                                    <a href="/courses/details?id={{CourseID}}"><h4>{{title}}</h4></a>
                                    <a href=""><h6>{{name_level1}}</h6></a>
                                    <div class="course-teacher">
                                        <div class="thum">
                                            <a href="#"><img src="/public/images/course/teacher/{{image}}" alt="teacher"></a>
                                        </div>
                                        <div class="name">
                                            <a href="#"><h6>{{f_Fullname}}</h6></a>
                                        </div>
                                        <div class="admin">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-user"></i><span>{{num_join}}</span></a></li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- singel course -->
                            </div>
                             {{/each}}
                        </div>
                       
                        
            </div> <!-- tab content -->
            <div class="row">
                <div class="col-lg-12">
                    <nav class="courses-pagination mt-50">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a href="?search={{search}}&filter={{filter}}&page={{previous}}" aria-label="Previous" {{#if this.not_previous}} class="disabled" {{/if}}>
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                
                            </li>
                            {{#unless this.maxThan3}}
                            {{#each page_items}}
                                <li class="page-item" ><a href="?search={{s}}&filter={{f}}&page={{value}}" id="page_{{value}}" >{{value}}</a></li>
                            {{/each}}
                            {{/unless}}
                            {{#if this.maxThan3}}
  
                            {{#if this.n3}}
                                <li class="page-item"><a href="#" class="disabled">...</a></li>
                                <li class="page-item"><a class="active" href="?search={{search}}&filter={{filter}}&page={{page}}">{{page}}</a></li>
                                <li class="page-item"><a href="?search={{search}}&filter={{filter}}&page={{next}}">{{next}}</a></li>
                                <li class="page-item"><a href="?search={{search}}&filter={{filter}}&page={{next2}}">{{next2}}</a></li>
                            {{/if}}

                            {{#if this.n2}}
                                <li class="page-item"><a href="#" class="disabled">...</a></li>
                                <li class="page-item"><a class="active" href="?search={{search}}&filter={{filter}}&page={{page}}">{{page}}</a></li>
                                <li class="page-item"><a href="?search={{search}}&filter={{filter}}&page={{next}}">{{next}}</a></li>
                            {{/if}}
                            {{#if this.n1}}
                                <li class="page-item"><a href="#" class="disabled">...</a></li>
                                <li class="page-item"><a  href="?search={{search}}&filter={{filter}}&page={{previous}}">{{previous}}</a></li>
                                <li class="page-item"><a href="?search={{search}}&filter={{filter}}&page={{page}}" class="active">{{page}}</a></li>
                            {{/if}}

                            {{#unless this.n1}}
                            {{#unless this.n2}}
                            {{#unless this.n3}}
                                <li class="page-item"><a href="?search={{search}}&filter={{filter}}&page={{page}}"class="active" >{{page}}</a></li>
                                <li class="page-item"><a href="?search={{search}}&filter={{filter}}&page={{next}}">{{next}}</a></li>
                                <li class="page-item"><a href="?search={{search}}&filter={{filter}}&page={{next2}}">{{next2}}</a></li>
                                <li class="page-item"><a href="#" class="disabled">...</a></li>
                            {{/unless}}
                            {{/unless}}
                            {{/unless}}
                            {{/if}}
                            <li class="page-item">
                                <a href="?search={{search}}&filter={{filter}}&page={{next}}" aria-label="Next" {{#if this.not_next}} class="disabled" {{/if}}>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>  <!-- courses pagination -->
                </div>
            </div>   <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== COURSES PART ENDS ======-->
   
 
