
{{#section 'css'}}
{{/section}}

{{#section 'js'}}
<script>
  $('#frmChangeMail').on('submit', function (e) {
    const email = $('#f_Email').val();
    var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/; 
    
      e.preventDefault();
    if (email.length===0 || !filter.test(email)) {
      alert('Vui lòng điền địa chỉ email hợp lệ!');
      return;
    }
    $.getJSON(`/account/is-available?user=${email}`, function (data) {
      if (data === true) {
           alert('Thay đổi thành công, vui lòng đăng nhập lại!'); 
        $('#frmChangeMail').off('submit').submit();
      } else {
        alert('Tài khoản đã tồn tại ! ');
      }
    })
  });
</script>
<script>
      $('#frmChangeName').on('submit', function (e) {
        const fullname = $('#f_Fullname').val();
        
        e.preventDefault();
        if (fullname.length === 0) {
            alert('Vui lòng điền họ tên!');
            return;
        }
        else{
           alert('Thay đổi thành công, vui lòng đăng nhập lại!'); 
            $('#frmChangeName').off('submit').submit();
        }
      });
</script>
<script>
      $('#frmChangePassword').on('submit', function (e) {
        const password = $('#f_Password').val();
        const new_password = $('#new_Password').val();
        e.preventDefault();
        if (password.length === 0 || new_password.length === 0) {
            alert('Vui lòng điền đầy đủ thông tin mật khẩu!');
            return;
        }
        $.getJSON(`/account/checkPassword?Password=${password}`, function (data) {
        if (data === true) {
            alert('Thay đổi thành công, vui lòng đăng nhập lại!'); 
            $('#frmChangePassword').off('submit').submit();
        } else {
            alert('Mật khẩu hiện tại không đúng!'); 
        }
        })
      });
</script>
{{/section}}
    <!--====== PAGE BANNER PART START ======-->

    <section id="page-banner" class="pt-30 pb-130 bg_cover" data-overlay="8" style="background-image: url(/public/images/page-banner-3.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-banner-cont">
                        <h2>Your Profile</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Your profile</li>
                            </ol>
                        </nav>
                    </div> <!-- page banner cont -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== PAGE BANNER PART ENDS ======-->

    <!--====== TEACHERS PART START ======-->
    
    <section id="teachers-singel" class="pt-20 pb-120 gray-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-8">
                   <div class="teachers-left mt-50">
                        {{#if isTeacher}}
                        <div class="hero">
                            <img src="/public/images/user.png" alt="Teachers" style="width: 150px;height:150px">
                        </div>
                        <div class="name">
                            <h6>{{authUser.f_Fullname}}</h6>
                            <span>Email: {{authUser.f_Email}}</span>
                        </div>
                        
                            <div class="social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                            </ul>
                            </div>
                            <div class="description">
                                <p>Gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate..</p>
                            </div>
                            {{else}}
                             <div class="hero">
                                <img src="/public/images/user.png" alt="Teachers" style="width: 150px;height:150px">
                            </div>
                            <div class="name">
                                <h6>{{authUser.f_Fullname}}</h6>
                            <span>Email: {{authUser.f_Email}}</span>
                            </div>
                        {{/if}}
                        
                    </div> <!-- teachers left -->
                </div>
                <div class="col-lg-8">
                    <div class="teachers-right mt-50">
                        <ul class="nav nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="active"  id="dashboard-tab" data-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="true">Thông tin</a>
                            </li>
                            {{#if isTeacher}}
                                <li class="nav-item">
                                    <a  href="/myCourse" role="tab" >Thêm thông tin giáo viên</a>
                                </li>
                                <li class="nav-item">
                                    <a   href="/myFavoriteCourse" role="tab" >Khóa học của tôi</a>
                                </li>
                            {{else}}
                            {{#if isAdmin}}
                                
                           {{else}}
                            <li class="nav-item">
                                <a  href="/myCourse" role="tab" >Khóa học của tôi</a>
                            </li>
                            <li class="nav-item">
                                <a   href="/myFavoriteCourse" role="tab" >Danh sách yêu thích</a>
                            </li>
                            <li class="nav-item">
                                <a href="/yourCart" role="tab">Giỏ hàng</a>
                            </li>
                             {{/if}}
                            {{/if}}
                        </ul> <!-- nav -->
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active " id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                <div class="dashboard-cont">
                                        <h3 style="text-align: center;"><br>Thay đổi thông tin<br></h3>
                                        <div>
                                            <form method="POST" action="/account/profile" id="frmChangeMail">
                                                <p><b>Email: {{authUser.f_Email}}</b></p>
                                                <input style="width: 500px;" type="text" name="f_Email" id="f_Email" placeholder= "Nhập email muốn thay đổi" />
                                                <button type="submit">Thay đổi email</button>
                                            </form>
                                        </div>  
                                        <div>
                                            <form method="POST" action="/account/profile" id="frmChangeName">
                                                <p><b>Họ tên: {{authUser.f_Fullname}}</b></p>
                                                <input style="width: 500px;" type="text" name="f_Fullname" id="f_Fullname" placeholder="Nhập họ tên muốn thay đổi" />
                                                <button type="submit">Thay đổi họ tên</button>
                                            </form>
                                        </div>
                                        <div>
                                            <form method="POST" action="/account/profile" id="frmChangePassword">
                                                <div>
                                                    <p><br><b>Mật khẩu hiện tại</b></p>
                                                    <input style="width: 500px;" type="password" name="f_Password" id="f_Password" placeholder="Xác thực mật khẩu hiện tại" />
                                                </div>
                                                <div>
                                                    <p><b>Mật khẩu:</b></p>
                                                    <input style="width: 500px;" type="password" name="new_Password" id="new_Password" placeholder="Nhập mật khẩu mới" />
                                                </div>
                                                    <button type="submit">Thay đổi mật khẩu</button>
                                            </form>
                                        </div>
                                </div> <!-- dashboard cont --> 
                            </div>
                        
                        </div> <!-- tab content -->
                    </div> <!-- teachers right -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== EVENTS PART ENDS ======-->

    