
    
    <!--====== HEADER PART START ======-->
    
    <header id="header-part">
        <div class="header-logo-support pt-30 pb-30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="logo">
                            <a href="/">
                                <img src="/public/images/logo.png" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="support-button float-right d-none d-md-block">
                            {{#if isAuth}}
                            {{#if isTeacher}}
                            <div class="button float-left">
                                    <a href="/teacher/addCourse" class="main-btn">Tạo khóa học</a>
                                </div>
                                {{/if}}
                            {{else}}
                                <div class="button float-left">
                                    <a href="/account/login" class="main-btn">Đăng nhập</a>
                                </div>
                                <div class="button float-left">
                                    <a href="/account/register" class="main-btn">Đăng ký</a>
                                </div>
                            {{/if}}
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- header logo support -->
      {{#if isTeacher}}
          <div class="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-9 col-8">
                        <nav class="navbar navbar-expand-lg" style="margin-right: 100px;">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item">
                                        <a href="/teacher/yourTeacherCourse">Khóa học của tôi</a>
                                    </li>
                                    
                                
                                </ul>
                               
                                  
                            </div>
                        </nav> <!-- nav -->
                      
                        </div>
                    
                      <form id="frmLogout" method="POST" action="/account/logout"></form>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-4">
                        <div class="right-icon text-right">
                            <ul>
                                <li>
                                     <li class="nav-item dropdown"  style="padding-bottom: 0px;padding-top:5px">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                         <a class="dropdown-item">
                                            <i aria-hidden="true"></i>
                                                Hi, <b>{{authUser.f_Fullname}}</b>!
                                        </a>
                                        <a class="dropdown-item" href="/account/profile">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            Profile
                                        </a>
                                        <a class="dropdown-item" href="/teacher/yourTeacherCourse">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            Khóa học của tôi
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript: $('#frmLogout').submit();">
                                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                                            Đăng xuất
                                        </a>
                                        </div>
                                    </li>
                                </li>
                            </ul>
                    
                </div> <!-- row -->
            </div> <!-- container -->
        </div>
      {{else}}
      {{#if isAdmin}}
        <div class="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-9 col-8">
                        <nav class="navbar navbar-expand-lg">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item">
                                        <a  href="/admin/accounts">Tài khoản</a>
                                        
                                    </li>
                                    <li class="nav-item">
                                        <a  href="/admin/categories">Lĩnh vực</a>
                                        
                                    </li>
                                    <li class="nav-item">
                                        <a href="/admin/courses">Khóa học</a>
                                    </li>
                                
                                </ul>
                               
                                  
                            </div>
                        </nav> <!-- nav -->
                     
                        </div>
                    
                      <form id="frmLogout" method="POST" action="/account/logout"></form>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-4">
                        <div class="right-icon text-right">
                            <ul>
                               
                                <li>
                                     <li class="nav-item dropdown"  style="padding-bottom: 0px;padding-top:5px">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                         <a class="dropdown-item">
                                            <i aria-hidden="true"></i>
                                                Hi, <b>{{authUser.f_Fullname}}</b>!
                                        </a>
                                        <a class="dropdown-item" href="/account/profile">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            Profile
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript: $('#frmLogout').submit();">
                                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                                            Sign Out
                                        </a>
                                        </div>
                                    </li>
                                </li>
                            </ul>
                    
                </div> <!-- row -->
            </div> <!-- container -->
        </div>
    
      
      {{else}}
        <div class="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-9 col-8">
                        <nav class="navbar navbar-expand-lg">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item">
                                        <a href="/">Trang chủ</a>
                                      
                                    </li>
                                    <li class="nav-item">
                                        <a href="/courses">Khóa học</a>
                                        
                                        <ul class="sub-menu">
                                             {{#each lol}}
                                             <li>
                                                
                                                 {{#each lv}}
                                                     <a href="/courses?aspect1={{ID_aspect1}}">{{name_level1}}</a>
                                                 {{/each}}
                                                     
                                                      <ul class="sub-menu1">
                                                         {{#each lv2}}
                                                             <li><a href="/courses?aspect2={{ID_aspect}}">{{name_level2}}</a></li>
                                                         {{/each}}
                                                    
                                                    
                                                        </ul>
                                            </li>
                                            {{/each}}
                                            
                                        
                                                                          
                                        </ul>
                                    </li>
                                
                                </ul>
                               
                                  
                            </div>
                        </nav> <!-- nav -->
                        <div class="serach-form">
                                            <form action="/courses/search">
                                                <input required type="search" name="search" placeholder="Search by keyword">
                                                <button type="submit" ><i class="fa fa-search"></i></button>
                                            </form>
                                        </div> <!-- serach form -->
                    </div>
                     {{#if isAuth}}
                      <form id="frmLogout" method="POST" action="/account/logout"></form>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-4">
                        <div class="right-icon text-left">
                            <ul style="padding: 0px; width=200px">
                                <li style="margin-left:10px" ><a href="/yourCart"><i class="fa fa-shopping-bag"></i><span>{{cartSummary}}</span></a></li>
                                <li style="margin-right: 0px;">
                                     <li class="nav-item dropdown"  style="padding-bottom: 0px;padding-top:5px">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                         <a class="dropdown-item">
                                            <i aria-hidden="true"></i>
                                                Hi, <b>{{authUser.f_Fullname}}</b>!
                                        </a>
                                        <a class="dropdown-item" href="/account/profile">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            Profile
                                        </a>
                                        <a class="dropdown-item" href="/myCourse">
                                            <i class="fa fa-clone" aria-hidden="true"></i>
                                            Khóa học của tôi
                                        </a>
                                        <a class="dropdown-item" href="/myFavoriteCourse">
                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                            Danh sách yêu thích
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript: $('#frmLogout').submit();">
                                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                                            Đăng xuất
                                        </a>
                                        </div>
                                    </li>
                                </li>
                            </ul>
                     {{else}}
                         <div class="col-lg-2 col-md-2 col-sm-3 col-4">
                        <div class="right-icon text-right">
                            {{!-- <ul>
                                <li><a href="#"><i class="fa fa-shopping-bag"></i><span>0</span></a></li>
                            </ul> --}}
                        </div> <!-- right icon -->
                    </div>
                     {{/if}}
                    
                </div> <!-- row -->
            </div> <!-- container -->
        </div>
    {{/if}}
    {{/if}}
    </header>
    
    <!--====== HEADER PART ENDS ======-->
  