{{#section 'css'}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{{/section}}
{{#section 'js'}}
<script>
    document.getElementById("stars1").innerHTML = getStars(4);
    function getStars(rating) {
        // Round to nearest half
        rating = Math.round(rating * 2) / 2;
        let output = [];

        // Append all the filled whole stars
        for (var i = rating; i >= 1; i--)
            output.push('<i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>&nbsp;');

        // If there is a half a star, append it
        if (i == .5) output.push('<i class="fa fa-star-half-o" aria-hidden="true" style="color: gold;"></i>&nbsp;');

        // Fill the empty stars
        for (let i = (5 - rating); i >= 1; i--)
            output.push('<i class="fa fa-star-o" aria-hidden="true" style="color: gold;"></i>&nbsp;');

        return output.join('');

    }
</script>
{{#each t}}
{{#each c}}
<script>
    var star = "stars" + {{ CourseID }};
    document.getElementById(star).innerHTML = getStars({{ evalue }});
</script>
{{/each}}
{{/each}}
{{/section}}
<!--====== SLIDER PART START ======-->

<section id="slider-part" class="slider-active">
    {{#each t3}}
        {{#each c3}}
    <div class="single-slider bg_cover1 pt-150" style="background-image:url(public/images/course/{{small_image}}); background-size:cover" data-overlay="4">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-9">
                    <div class="slider-cont">
                        <h1 data-animation="bounceInLeft" data-delay="1s">{{title}}</h1>
                        <p data-animation="fadeInUp" data-delay="1.3s">{{{small_brief}}}</p>
                        <a data-animation="fadeInUp" data-delay="1.6s" class="main-btn" href="/courses/details?id={{CourseID}}">Xem khóa học</a>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- single slider -->
         {{/each}}
    {{/each}}

</section>

<!--====== SLIDER PART ENDS ======-->

<!--====== CATEGORY PART START ======-->

<section id="category-part">
    <div class="container">
        <div class="category pt-40 pb-80">
            <div class="row">
                <div class="col-lg-4">
                    <div class="category-text pt-40">
                        <h2>Các lĩnh vực đăng ký nhiều nhất tuần</h2>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-8 offset-2">
                    <div class="row category-slied mt-40">
                        {{#each t1}}

                        <div class="col-lg-4">
                            {{#each c1}}

                            <a href="/courses?aspect2={{ID_aspect}}" >
                                <span class="singel-category text-center color-1">
                                    {{/each}}
                                    <span class="icon">
                                        <img src="/public/images/all-icon/{{h1}}" alt="Icon" style="width:50px;height:50px">
                                    </span>
                                    {{#each c1}}
                                    <span class="cont">
                                        <span>
                                            {{name_level2}}
                                        </span>
                                    </span>
                                </span> <!-- singel category -->
                            </a>
                            {{/each}}
                        </div>

                        {{/each}}
                    </div> <!-- category slied -->
                </div>
            </div> <!-- row -->
        </div> <!-- category -->
    </div> <!-- container -->
</section>

<!--====== CATEGORY PART ENDS ======-->


<!--====== COURSE TOP 10 WATCHING START ======-->

<section id="course-part" class="pt-70 pb-35 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title pb-45">
                    <h3>KHÓA HỌC ĐƯỢC XEM NHIỀU NHẤT</h3>
                </div>
            </div>
        </div>
        <div class="row course-slied mt-30">
            {{#each t2}}
            <div class="col-lg-4">
                <div class="singel-course">
                    {{#each c2}}
                    <div class="thum">

                        <div class="image">
                            <img src="/public/images/course/{{small_image}}" alt="Course" style="width: 369px;height:251px">
                        </div>
                        {{#if discount}}
                                <div class="price1">
                                    <span style="background-color: white;"><strike>{{fee}}$</strike></span>
                                </div>
                                <div class="discount">
                                    <span>{{discount}}$</span>
                                </div>
                                {{else}}
                                <div class="price">
                                    <span>{{fee}}$</span>

                                </div>
                                {{/if}}
                    </div>
                    <div class="cont">
                        <ul>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <span>{{evalue}}({{num_evalue}} Reviews)</span>
                        <a href="/courses/details?id={{CourseID}}">
                            <h4>
                                {{title}}
                            </h4>
                        </a>
                        <div class="course-teacher" style="height:60px;padding:0px;padding-top:5px">
                            <div class="thum">
                                <a href="#"><img src="/public/images/course/teacher/{{image}}" alt="teacher"
                                                style="width: 40px;height:40px"></a>
                            </div>
                            <div class="name"style="padding-bottom: 5px;">
                                <a href="#" class="disabled">
                                    <h6 >
                                        {{f_Fullname}}
                                    </h6>
                                </a>
                            </div>
                            <div class="admin">
                                <ul>
                                    <li><a href="#"><i class="fa fa-user"></i><span>{{num_join}}</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div> <!-- singel course -->


            </div>
            {{/each}}

        </div> <!-- course slied -->
    </div> <!-- container -->
</section>


<!--====== COURSE TOP 10 WATCHING ENDS ======-->

<!--====== COURSE TOP 10 NEW START ======-->

<section id="course-part" class="pt-70 pb-35 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title pb-45">
                    <h3>KHÓA HỌC MỚI NHẤT</h3>
                </div>
            </div>
        </div>
        <div class="row course-slied mt-30">
            {{#each t}}
            <div class="col-lg-4">
                <div class="singel-course">
                    {{#each c}}
                    <div class="thum">

                        <div class="image">
                            <img src="/public/images/course/{{small_image}}" alt="Course" style="width: 369px;height:251px">
                        </div>
                        <div class="price" style="top:-15px;right:-5px">
                                    <span>New</span>
                        </div>
                        {{#if discount}}
                                <div class="price1">
                                    <span style="background-color: white;"><strike>{{fee}}$</strike></span>
                                </div>
                                <div class="discount">
                                    <span>{{discount}}$</span>
                                </div>
                                {{else}}
                                <div class="price">
                                    <span>{{fee}}$</span>

                                </div>
                                {{/if}}
                    </div>
                    <div class="cont">
                        <ul>
                            <span id="stars{{CourseID}}"></span>

                            <span>{{evalue}}({{num_evalue}} Reviews)</span>
                        </ul>
                        <a href="/courses/details?id={{CourseID}}">
                            <h4>
                                {{title}}
                            </h4>
                        </a>
                        <div class="course-teacher" style="height:60px;padding:0px;padding-top:5px">
                            <div class="thum">
                                <a href="#"><img src="/public/images/course/teacher/{{image}}" alt="teacher"></a>
                            </div>
                            <div class="name" style="padding-bottom: 10px;">
                                <a href="#" class="disabled">
                                    <h6 >
                                        {{f_Fullname}}
                                    </h6>
                                </a>
                            </div>
                            <div class="admin">
                                <ul>
                                    <li><a href="#"><i class="fa fa-user"></i><span>{{num_join}}</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div> <!-- singel course -->


            </div>
            {{/each}}

        </div> <!-- course slied -->
    </div> <!-- container -->
</section>

<!--====== COURSE TOP 10 NEW ENDS ======-->