{{#section 'css'}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{{/section}}
{{#section 'js'}}
<script>
    document.getElementById("stars1").innerHTML = getStars(4);
    function getStars(rating) {
        // Round to nearest half
        rating = Math.round(rating * 2) / 2;
        let output = [];

        // Append all the filled whole stars
        for (var i = rating; i >= 1; i--)
            output.push('<i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>&nbsp;');

        // If there is a half a star, append it
        if (i == .5) output.push('<i class="fa fa-star-half-o" aria-hidden="true" style="color: gold;"></i>&nbsp;');

        // Fill the empty stars
        for (let i = (5 - rating); i >= 1; i--)
            output.push('<i class="fa fa-star-o" aria-hidden="true" style="color: gold;"></i>&nbsp;');

        return output.join('');

    }
</script>
{{#each t}}
{{#each c}}
<script>
    var star = "stars" + {{ CourseID }};
    document.getElementById(star).innerHTML = getStars({{ evalue }});
</script>
{{/each}}
{{/each}}
{{/section}}
{{#if message}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{message}}
</div>
{{/if}}
<!--====== SLIDER PART START ======-->

<section id="slider-part" class="slider-active">
    <div class="single-slider bg_cover pt-150" style="background-image: url(images/slider/s-1.jpg)" data-overlay="4">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-9">
                    <div class="slider-cont">
                        <h1 data-animation="bounceInLeft" data-delay="1s">Khoá học nổi bật nhất trong tuần qua</h1>
                        <p data-animation="fadeInUp" data-delay="1.3s">Donec vitae sapien ut libearo venenatis faucibus.
                            Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt Sed fringilla mauri amet
                            nibh.</p>
                        <ul>
                            <li><a data-animation="fadeInUp" data-delay="1.6s" class="main-btn" href="#">Read More</a>
                            </li>
                            <li><a data-animation="fadeInUp" data-delay="1.9s" class="main-btn main-btn-2" href="#">Get
                                    Started</a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- single slider -->

    <div class="single-slider bg_cover pt-150" style="background-image: url(images/slider/s-2.jpg)" data-overlay="4">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-9">
                    <div class="slider-cont">
                        <h1 data-animation="bounceInLeft" data-delay="1s">Choose the right theme for education</h1>
                        <p data-animation="fadeInUp" data-delay="1.3s">Donec vitae sapien ut libearo venenatis faucibus.
                            Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt Sed fringilla mauri amet
                            nibh.</p>
                        <ul>
                            <li><a data-animation="fadeInUp" data-delay="1.6s" class="main-btn" href="#">Read More</a>
                            </li>
                            <li><a data-animation="fadeInUp" data-delay="1.9s" class="main-btn main-btn-2" href="#">Get
                                    Started</a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- single slider -->

    <div class="single-slider bg_cover pt-150" style="background-image: url(images/slider/s-3.jpg)" data-overlay="4">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-9">
                    <div class="slider-cont">
                        <h1 data-animation="bounceInLeft" data-delay="1s">Choose the right theme for education</h1>
                        <p data-animation="fadeInUp" data-delay="1.3s">Donec vitae sapien ut libearo venenatis faucibus.
                            Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt Sed fringilla mauri amet
                            nibh.</p>
                        <ul>
                            <li><a data-animation="fadeInUp" data-delay="1.6s" class="main-btn" href="#">Read More</a>
                            </li>
                            <li><a data-animation="fadeInUp" data-delay="1.9s" class="main-btn main-btn-2" href="#">Get
                                    Started</a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- single slider -->
</section>

<!--====== SLIDER PART ENDS ======-->

<!--====== CATEGORY PART START ======-->

<section id="category-part">
    <div class="container">
        <div class="category pt-40 pb-80">
            <div class="row">
                <div class="col-lg-4">
                    <div class="category-text pt-40">
                        <h2>Các lĩnh vực đăng ký nhiều nhất tuần</h2>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-8 offset-2">
                    <div class="row category-slied mt-40">
                        {{#each t1}}

                        <div class="col-lg-4">
                            {{#each c1}}

                            <a href="/courses/small_aspect/{{ID_aspect}}">
                                <span class="singel-category text-center color-1">
                                    <span class="icon">
                                        <img src="/public/images/all-icon/email.png" alt="Icon">
                                    </span>
                                    <span class="cont">
                                        <span>
                                            {{name_level2}}
                                        </span>
                                    </span>
                                </span> <!-- singel category -->
                            </a>
                            {{/each}}
                        </div>

                        {{/each}}
                    </div> <!-- category slied -->
                </div>
            </div> <!-- row -->
        </div> <!-- category -->
    </div> <!-- container -->
</section>

<!--====== CATEGORY PART ENDS ======-->


<!--====== COURSE TOP 10 WATCHING START ======-->

<section id="course-part" class="pt-70 pb-35 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title pb-45">
                    <h3>KHÓA HỌC ĐƯỢC XEM NHIỀU NHẤT</h3>
                </div>
            </div>
        </div>
        <div class="row course-slied mt-30">
            <div class="col-lg-4">
                <div class="singel-course">
                    <div class="thum">
                        <div class="image">
                            <img src="images/course/cu-1.jpg" alt="Course">
                        </div>
                        <div class="price">
                            <span>Free</span>
                        </div>
                    </div>
                    <div class="cont">
                        <ul>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <span>(20 Reviws)</span>
                        <a href="courses-singel.html">
                            <h4>Learn basis javascirpt from start for beginner</h4>
                        </a>
                        <div class="course-teacher">
                            <div class="thum">
                                <a href="#"><img src="images/course/teacher/t-1.jpg" alt="teacher"></a>
                            </div>
                            <div class="name">
                                <a href="#">
                                    <h6>Mark anthem</h6>
                                </a>
                            </div>
                            <div class="admin">
                                <ul>
                                    <li><a href="#"><i class="fa fa-user"></i><span>31</span></a></li>
                                    <li><a href="#"><i class="fa fa-heart"></i><span>10</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> <!-- singel course -->
            </div>
            <div class="col-lg-4">
                <div class="singel-course">
                    <div class="thum">
                        <div class="image">
                            <img src="images/course/cu-2.jpg" alt="Course">
                        </div>
                        <div class="price">
                            <span>Free</span>
                        </div>
                    </div>
                    <div class="cont">
                        <ul>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <span>(20 Reviws)</span>
                        <a href="courses-singel.html">
                            <h4>Learn basis javascirpt from start for beginner</h4>
                        </a>
                        <div class="course-teacher">
                            <div class="thum">
                                <a href="#"><img src="images/course/teacher/t-2.jpg" alt="teacher"></a>
                            </div>
                            <div class="name">
                                <a href="#">
                                    <h6>Mark anthem</h6>
                                </a>
                            </div>
                            <div class="admin">
                                <ul>
                                    <li><a href="#"><i class="fa fa-user"></i><span>31</span></a></li>
                                    <li><a href="#"><i class="fa fa-heart"></i><span>10</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> <!-- singel course -->
            </div>
            <div class="col-lg-4">
                <div class="singel-course">
                    <div class="thum">
                        <div class="image">
                            <img src="images/course/cu-3.jpg" alt="Course">
                        </div>
                        <div class="price">
                            <span>Free</span>
                        </div>
                    </div>
                    <div class="cont">
                        <ul>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <span>(20 Reviws)</span>
                        <a href="courses-singel.html">
                            <h4>Learn basis javascirpt from start for beginner</h4>
                        </a>
                        <div class="course-teacher">
                            <div class="thum">
                                <a href="#"><img src="images/course/teacher/t-3.jpg" alt="teacher"></a>
                            </div>
                            <div class="name">
                                <a href="#">
                                    <h6>Mark anthem</h6>
                                </a>
                            </div>
                            <div class="admin">
                                <ul>
                                    <li><a href="#"><i class="fa fa-user"></i><span>31</span></a></li>
                                    <li><a href="#"><i class="fa fa-heart"></i><span>10</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> <!-- singel course -->
            </div>
            <div class="col-lg-4">
                <div class="singel-course">
                    <div class="thum">
                        <div class="image">
                            <img src="images/course/cu-4.jpg" alt="Course">
                        </div>
                        <div class="price">
                            <span>Free</span>
                        </div>
                    </div>
                    <div class="cont">
                        <ul>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <span>(20 Reviws)</span>
                        <a href="courses-singel.html">
                            <h4>Learn basis javascirpt from start for beginner</h4>
                        </a>
                        <div class="course-teacher">
                            <div class="thum">
                                <a href="#"><img src="images/course/teacher/t-4.jpg" alt="teacher"></a>
                            </div>
                            <div class="name">
                                <a href="#">
                                    <h6>Mark anthem</h6>
                                </a>
                            </div>
                            <div class="admin">
                                <ul>
                                    <li><a href="#"><i class="fa fa-user"></i><span>31</span></a></li>
                                    <li><a href="#"><i class="fa fa-heart"></i><span>10</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> <!-- singel course -->
            </div>
            <div class="col-lg-4">
                <div class="singel-course">
                    <div class="thum">
                        <div class="image">
                            <img src="images/course/cu-5.jpg" alt="Course">
                        </div>
                        <div class="price">
                            <span>Free</span>
                        </div>
                    </div>
                    <div class="cont">
                        <ul>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <span>(20 Reviws)</span>
                        <a href="courses-singel.html">
                            <h4>Learn basis javascirpt from start for beginner</h4>
                        </a>
                        <div class="course-teacher">
                            <div class="thum">
                                <a href="#"><img src="images/course/teacher/t-5.jpg" alt="teacher"></a>
                            </div>
                            <div class="name">
                                <a href="#">
                                    <h6>Mark anthem</h6>
                                </a>
                            </div>
                            <div class="admin">
                                <ul>
                                    <li><a href="#"><i class="fa fa-user"></i><span>31</span></a></li>
                                    <li><a href="#"><i class="fa fa-heart"></i><span>10</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> <!-- singel course -->
            </div>
        </div> <!-- course slied -->
    </div> <!-- container -->
</section>

<!--====== COURSE TOP 10 WATCHING ENDS ======-->

<!--====== COURSE TOP 10 NEW START ======-->

<section id="course-part" class="pt-70 pb-35 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title pb-45">
                    <h3>KHÓA HỌC MỚI NHẤT</h3>
                </div>
            </div>
        </div>
        <div class="row course-slied mt-30">
            {{#each t}}
            <div class="col-lg-4">
                <div class="singel-course">
                    {{#each c}}
                    <div class="thum">

                        <div class="image">
                            <img src="/public/images/course/{{small_image}}" alt="Course">
                        </div>
                        <div class="price">
                            <span>New</span>
                        </div>
                    </div>
                    <div class="cont">
                        <ul>
                            <span id="stars{{CourseID}}"></span>

                            <span>{{evalue}}({{num_evalue}} Reviews)</span>
                        </ul>
                        <a href="/courses/details?id={{CourseID}}">
                            <h4>
                                {{title}}
                            </h4>
                        </a>
                        <div class="course-teacher">
                            <div class="thum">
                                <a href="#"><img src="/public/images/course/teacher/{{image}}" alt="teacher"></a>
                            </div>
                            <div class="name">
                                <a href="#">
                                    <h6>
                                        {{f_Fullname}}
                                    </h6>
                                </a>
                            </div>
                            <div class="admin">
                                <ul>
                                    <li><a href="#"><i class="fa fa-user"></i><span>{{num_join}}</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div> <!-- singel course -->


            </div>
            {{/each}}

        </div> <!-- course slied -->
    </div> <!-- container -->
</section>

<!--====== COURSE TOP 10 NEW ENDS ======-->