{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/css/fileinput.min.css">
{{/section}}
{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/themes/fa/theme.min.js"></script>
<script>
  $('.removeItem').on('click', function () {
    const id = $(this).data('id');
    $('#txtProId').val(id);
    $('#frmRemoveItem').submit();
  });
</script>
{{!-- <script>
    $('#frmRegister').on('submit', function (e) {
        const job = $('#job').val();
        const intro = $('#intro').val();

        e.preventDefault();
        if (job.length === 0) {
            alert('Vui lòng điền họ tên!');
            return;
        }
        else if (intro.length === 0) {
            alert('Vui lòng điền địa chỉ email hợp lệ!');
            return;
        }
    })
</script> --}}
<script>
    $('#fuMain').fileinput({
    theme: 'fa',
    dropZoneEnabled: false,
    allowedFileExtensions: ['png', 'jpg', 'gif'],
  });
</script>
{{/section}}

    <!--====== PAGE BANNER PART START ======-->
<form id="frmRemoveItem" action="/teacher/remove" method="POST">
    <input type="hidden" name="id" id="txtProId">
  </form>
    <section id="page-banner" class="pt-30 pb-130 bg_cover" data-overlay="8" style="background-image: url(/public/images/page-banner-3.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-banner-cont">
                        <h2>Your Profile</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Your profile</li>
                            </ol>
                        </nav>
                    </div> <!-- page banner cont -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== PAGE BANNER PART ENDS ======-->

    <!--====== TEACHERS PART START ======-->
    
    <section id="teachers-singel" class="pt-20 pb-120 gray-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-8">
                    <div class="teachers-left mt-50">
                        {{#if isTeacher}}
                        <div class="hero">
                            <img src="/public/images/teachers/{{infor.image}}" alt="Teachers" style="width: 150px;height:150px">
                        </div>
                        <div class="name">
                            <h6>{{authUser.f_Fullname}}</h6>
                            <span>Email: {{authUser.f_Email}}</span>
                        </div>
                            <div class="description">
                                <p>Nghề nghiệp: {{infor.job}}</p>
                                <p>Giới thiệu: {{infor.intro}}</p>
                            </div>
                            {{else}}
                             <div class="hero">
                                <img src="/public/images/user.png" alt="Teachers" style="width: 150px;height:150px">
                            </div>
                            <div class="name">
                                <h6>{{authUser.job}}</h6>
                            <span>Email: {{authUser.intro}}</span>
                            </div>
                        {{/if}}
                        
                    </div> <!-- teachers left -->
                </div>
                <div class="col-lg-8" >
                    <div class="teachers-right mt-50" style="background-color: #fff;">
                        <ul class="nav nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a href="/account/profile" role="tab">Thông tin</a>
                            </li>
                            <li class="nav-item">
                                <a class="active" href="#createInfo" role="tab">Thêm thông tin giáo viên</a>
                            </li>
                            <li class="nav-item">
                                <a href="/teacher/yourTeacherCourse" role="tab">Khóa học của tôi</a>
                            </li>
                        </ul> <!-- nav -->
                        
                            <form action="" method="POST" id="createInfo" enctype="multipart/form-data">
                            <div class="card" style="width:80%; margin: 50px auto;">
                                <h5 class="card-header">
                                    Cập nhật thông tin giáo viên
                                </h5>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="job">Nghề nghiệp</label>
                                        <input class="form-control" type="text" name="job" id="job" placeholder="Nghề nghiệp">
                                    </div>
                                    <div class="form-group">
                                        <label for="intro">Giới thiệu bản thân</label>
                                        <input type="text" class="form-control" name="intro" id="intro" placeholder="Giới thiệu">
                                    </div>
                                    <div class="form-group">
                                        <label for="image">Ảnh đại diện</label>
                                            <div class="form-group">
                                                <input id="fuMain" name="fuMain" type="file" class="file" multiple>
                                            </div>
                                    </div>
                                    <div class="card-footer text-muted">
                                        <button type="submit" class="btn btn-outline-success">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            Cập nhật
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div> <!-- teachers right -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== EVENTS PART ENDS ======-->

    